doctype html
html(lang="en")
    head
        title Flash Cards
    body
        header
            h1 Table of names
        table
            tr
                th Firstname
                th Lastname
            each name in friends
                tr
                    td=name[0]
                    td=name[1]

        footer
            p Table with all my friends
